<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head") %>
        <link rel="stylesheet" href="/css/detail.css">
</head>

<body>

    <%- include("./partials/header") %>

        <main class="main-section">
            <div class="detail-container">
                <div class="detail-section">
                    <div class="detail">
                        <h3 id="name-title">
                            <%= prod.name %>
                        </h3>
                        <div class="icons">
                            <form action="/products/delete/<%= prod.id %>?_method=DELETE" method="POST">
                                <button class="icon" type="submit"><i class="fa-solid fa-trash"></i></button>
                            </form>
                            <button class="icon" type="submit">
                                <a href="/products/edit/<%= prod.id %>"><i class="fa-solid fa-pencil"></i></a>
                            </button>
                        </div>
                    </div>
                    <div class="image-section">
                        <div class="image-top">
                            <img src="/images/products-image/<%= prod.image %>" alt="img-top">
                        </div>
                        <div class="image-bottom">
                            <i class="fa-solid fa-angle-left"></i>
                            <div>
                                <img src="/images/products-image/<%= prod.image %>" alt="img-slider">
                                <img src="/images/products-image/<%= prod.image %>" alt="img-slider">
                                <img src="/images/products-image/<%= prod.image %>" alt="img-slider">
                                <img src="/images/products-image/<%= prod.image %>" alt="img-slider">
                            </div>
                            <i class="fa-solid fa-angle-right"></i>
                        </div>
                    </div>
                    <div class="detail detail-buttom">
                        <div class="price">
                            <h2 class="product-price">$ <%= prod.price %>
                            </h2>
                            <img src="/images/flags/<%= prod.country %>" alt="country-flag">
                        </div>
                        <h3 id="fees">en <%= (fee==0) ? 1 : prod.credit %>x de $ <%= (fee==0) ? prod.price : fee %>
                        </h3>
                    </div>
                    <div class="detail detail-buttom">
                        <h3 class="description-title">Descripcion</h3>
                        <p>
                            <%= prod.description %>
                        </p>
                    </div>
                    <div class="buy-detail">
                        <button class="btn-buy">Comprar</button>
                        <button class="btn-chart">Agregar al Carrito</button>
                    </div>
                </div>
            </div>
            <div class="comment-section">
                <h3 class="comment-title">PREGUNTAS Y RESPUESTAS</h3>
                <h4 class="title">Ultimas preguntas</h4>
                <div class="quest">
                    <div class="question">
                        <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur officiis accusamus
                            illo
                            commodi, sed dolorem.</h5>
                    </div>
                    <div class="answer">
                        <i class="fa fa-light fa-arrow-turn-up"></i>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum ad ipsa accusamus est
                            quaerat
                            quisquam iste atque molestiae animi voluptas.</p>
                    </div>
                    <div style="clear: both;"></div>
                </div>
                <hr>
                <div class="comment-form">
                    <form action="#" method="post">
                        <div class="control">
                            <h4 class="comment-title">Preguntale al vendedor</h4>
                            <textarea name="new-comment" cols="30" rows="5"
                                placeholder="Escribi tu pregunta"></textarea>
                        </div>
                        <input id="send-btn" type="submit" value="Enviar">
                    </form>
                </div>
                <div style="clear: both;"></div>
            </div>
        </main>

        <%- include("./partials/footer") %>
</body>

</html>