<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head") %>
        <link rel="stylesheet" href="/css/signin.css">
</head>

<body>
    <main class="main-area">
        <%- include("./partials/float_logo.ejs") %>
            <div class="big-box">
                <div class="small-box">
                        <% if (locals.errors) { 
                            errors.forEach(error => { %>
                            <p class="feedback"><%= error.msg %></p>
                        <%  })
                        }
                        %>
                        <form class="formulario" action="/user/signin" method="POST" enctype="multipart/form-data">
                            <div class="control">
                                <label>Nombre</label>
                                <input type="text" name="name" value="<%= locals.old && old.name ? old.name : ' ' %>">
                            </div>
                            <div class="control">
                                <label>Apellido</label>
                                <input type="text" name="lastname" value="<%= locals.old && old.lastname ? old.lastname : ' ' %>">
                            </div>
                            <div class="linea"></div>
                            <div class="control">
                                <label>Email</label>
                                <input type="email" name="email" value="<%= locals.old && old.email ? old.email : ' ' %>">
                            </div>
                            <div class="control">
                                <label>Contraseña</label>
                                <input type="password" name="password">
                            </div>
                            <div class="control">
                                <label>Confirmar Contraseña</label>
                                <input type="password" name="password">
                            </div>
                            <div class="control">
                                <label>Foto de Perfil</label>
                                <input type="file" name="avatar">
                            </div>
                            <div class="register">
                                <input type="submit" value="REGISTRARME">
                            </div>
                        </form>
                </div>
            </div>
    </main>
</body>

</html>