<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head") %>
        <link rel="stylesheet" href="/css/add.css">
        <script type="text/javascript" src="/js/viewJS/add.js"></script>
</head>

<body>
    <main class="main-section">
        <form class="form-block" action="/products/create" method="post" enctype="multipart/form-data">
            <input type="text" name="id" hidden>
            <!-- Flags Section -->
            <div class="block block-flag">
                <div class="back-title">
                    <a href="/"><i class="fa-solid fa-angle-left"></i></a>
                    <h3>Selecciona el origen del producto</h3>
                    <div></div>
                </div>
                <div class="flag-container">
                    <div class="line-flag">
                        <div class="flag-box" onclick="next(4)">
                            <img src="/images/flags/germany.png" alt="germany-flag">
                        </div>
                        <div class="flag-box" onclick="next(1)">
                            <img src="/images/flags/england.png" alt="england-flag">
                        </div>
                    </div>
                    <div class="line-flag middle">
                        <div class="flag-box" onclick="next(5)">
                            <img src="/images/flags/japan.png" alt="japan-flag">
                        </div>
                    </div>
                    <div class="line-flag">
                        <div class="flag-box" onclick="next(3)">
                            <img src="/images/flags/russia.png" alt="russia-flag">
                        </div>
                        <div class="flag-box" onclick="next(2)">
                            <img src="/images/flags/usa.png" alt="usa-flag">
                        </div>
                    </div>
                    <input id="flag" type="text" name="country" value="" hidden>
                </div>
            </div>
            <div class="block-container">
                <!-- Name Section -->
                <div class="block">
                    <div>
                        <div class="back-title">
                            <button class="btn-back" type="button" onclick="back()"><i
                                    class="fa-solid fa-angle-left"></i></button>
                            <h3>Describe en una frase tu producto</h3>

                            <div></div>
                        </div>
                        <input class="entries" type="text" name="name" placeholder="Nombre del producto..."
                        value="<%= (locals?.old) ? old.name : '' %>">
                        <p class="text-danger">
                            <%= (locals?.errors && errors.name != undefined) ? errors.name.msg : '' %>
                        </p> 
                    </div>
                </div>
                <!-- Description Section -->
                <div class="block">
                    <div class="back-title">
                        <button class="btn-back" type="button" onclick="back()"><i
                                class="fa-solid fa-angle-left"></i></button>
                        <h3>Coloca las caracteristicas del producto</h3>
                        <div></div>
                    </div>
                    <textarea class="entries" name="description" cols="30" rows="10" placeholder="Descripcion..."><%= (locals?.old) ? old.description : '' %></textarea>
                    <p class="text-danger">
                        <%= (locals?.errors && errors.description != undefined) ? errors.description.msg : '' %>
                    </p> 
                </div>
                <!-- Price Section -->
                <div class="block pay-content">
                    <div class="back-title">
                        <button class="btn-back" type="button" onclick="back()"><i
                                class="fa-solid fa-angle-left"></i></button>
                        <h3>Indica el precio por unidad</h3>
                        <div></div>
                    </div>
                    <div class="block-price">
                        <p>$</p>
                        <input class="entries" type="text" name="price" placeholder="Precio..."
                        value="<%= (locals?.old) ? old.price : '' %>">
                        <p class="text-danger">
                            <%= (locals?.errors && errors.price != undefined) ? errors.price.msg : '' %>
                        </p> 
                    </div>
                    <div class="block-contain">
                        <div class="block-payment">
                            <div class="title">
                                <i class="fa-solid fa-tag"></i>
                                <p>Oferta</p>
                            </div>
                            <input type="radio" name="offer" value=true>
                        </div>
                        <div class="block-shipping">
                            <div class="title">
                                <i class="fa-solid fa-truck-fast"></i>
                                <p>Envio Gratis</p>
                            </div>
                            <input type="radio" name="shipping" value=true>
                        </div>
                    </div>
                    <div class="block-credit">
                        <div class="title">
                            <i class="fa-solid fa-credit-card"></i>
                            <p>Cuotas</p>
                        </div>
                        <div class="credit-offer">
                            <label for="credit">3</label>
                            <label for="credit">6</label>
                            <label for="credit">12</label>
                        </div>
                        <div class="credit-offer">
                            <input type="radio" name="credit" value="3">
                            <input type="radio" name="credit" value="6">
                            <input type="radio" name="credit" value="12">
                        </div>
                    </div>
                    <div></div>
                </div>
                <!-- Image Section -->
                <div class="block">
                    <div>
                        <div class="back-title">
                            <button class="btn-back" type="button" onclick="back()"><i
                                    class="fa-solid fa-angle-left"></i></button>
                            <h3>Sube una o mas imagenes</h3>
                            <div></div>
                        </div>
                        <div class="block-img">
                            <i class="fa fa-regular fa-arrow-up-from-bracket"></i>
                            <label for="prod">Seleccionar imagen</label>
                            <input class="entries" type="file" id="prod" name="image">
                            <p class="text-danger">
                                <%= (locals?.errors && errors.image != undefined) ? errors.image.msg : '' %>
                            </p> 
                            <p id="file_name"></p>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn-next" onclick="next()" id="btnNext">CONTINUAR</button>
                <button type="submit" class="btn-next" id="btnSubmit" hidden>AGREGAR</button>
            </div>
        </form>
    </main>
</body>

</html>