<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head") %>
        <link rel="stylesheet" href="/css/edit.css">
        <script type="text/javascript" src="/js/viewJS/edit.js"></script>
</head>

<body>
    <main class="main-section">
        
        <form class="form-block" action="/products/edit/<%= old.id %>?_method=PUT" method="POST"
            enctype="multipart/form-data">
            <input type="text" name="id" hidden value="<%= (locals?.old)?old.id:'' %>">
            <!-- Flag Section -->
            <div class="block block-flag">
                <div class="main-title">
                    <a href="/"><i class="fa-solid fa-angle-left"></i></a>
                    <h3>Selecciona el origen del producto</h3>
                    <div></div>
                </div>
                <div class="line-flag">
                    <div class="flag-box">
                        <div class="flag-box-opt">
                            <select name="country" onchange="isPick(this.selectedIndex)">
                                <option value="select">--- Seleccionar ---</option>
                                <option value="germany.png">Alemania</option>
                                <option value="england.png">Inglaterra</option>
                                <option value="japan.png">Japon</option>
                                <option value="russia.png">Russia</option>
                                <option value="usa.png">Estados Unidos</option>

                        
                            </select>
                            <p class="text-danger">
                                <%= (locals?.errors && errors.name != undefined) ? errors.name.msg : '' %>
                            </p> 
                        </div>
                        <div class="flag-box-img">
                            <img id="img-flag">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Name Section -->
            <div class="block">
                <h3 class="edit-title">Describe en una frase tu producto</h3>
                <div class="block-name">
                    <input type="text" name="name" value="<%= (locals?.old)?old.name:'' %>" placeholder="Nombre del producto...">
                    <p class="text-danger">
                        <%= (locals?.errors && errors.name != undefined) ? errors.name.msg : '' %>
                    </p> 
                </div>
            </div>
            <!-- Description Section -->
            <div class="block">
                <h3 class="edit-title">Coloca las caracteristicas del producto</h3>
                <textarea name="description" cols="30" rows="5"
                    placeholder="Descripcion..."><%=(locals?.old)?old.description:'' %> </textarea>
                    <p class="text-danger">
                        <%= (locals?.errors && errors.description != undefined) ? errors.description.msg : '' %>
                    </p> 
            </div>
            <!-- Price Section -->
            <div class="block">
                <h3 class="edit-title">Indica el precio por unidad</h3>
                <div class="block-price">
                    <p>$</p>
                    <input type="text" name="price" value="<%=(locals?.old)?old.price:'' %>" placeholder="Precio...">
                 
                </div>
                <p class="text-danger">
                    <%= (locals?.errors && errors.price != undefined) ? errors.price.msg : '' %>
                </p>
                <div class="block-contain">
                    <div class="block-payment">
                        <div class="title">
                            <i class="fa-solid fa-tag"></i>
                            <p>Oferta</p>
                        </div>
                        <input id="off" type="radio" name="offer" value=true>
                    </div>
                    <div class="block-shipping">
                        <div class="title">
                            <i class="fa-solid fa-truck-fast"></i>
                            <p>Envio Gratis</p>
                        </div>
                        <input id="ship" type="radio" name="shipping" value=true>
                    </div>
                    <div class="block-credit">
                        <div class="title">
                            <i class="fa-solid fa-credit-card"></i>
                            <p>Cuotas</p>
                        </div>
                        <div class="credit-offer">
                            <label for="credit">3</label>
                            <label for="credit">6</label>
                            <label for="credit">12</label>
                        </div>
                        <div class="credit-offer">
                            <input id="cred3" type="radio" name="credit" value="3">
                            <input id="cred6" type="radio" name="credit" value="6">
                            <input id="cred12" type="radio" name="credit" value="12">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Image Section -->
            <div class="block">
                <h3 class="edit-title">Sube una o mas imagenes</h3>
                <div class="block-img">
                    <i class="fa fa-regular fa-arrow-up-from-bracket"></i>
                    <label for="prod">Seleccionar imagen</label>
                    <div class="file_box">
                        <input type="file" id="prod" name="image" accept=".jpg, .png, .webp">
                        <p id="file_name"></p>
                    </div>
                    <p class="text-danger">
                        <%= (locals?.errors && errors.image != undefined) ? errors.image.msg : '' %>
                    </p>
                </div>
            </div>
            <input type="submit" class="btn-next" value="CONTINUAR">
        </form>
    </main>
</body>

</html>