<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head") %>
        <link rel="stylesheet" href="/css/home.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Stick+No+Bills&display=swap" rel="stylesheet">
</head>

<body>

    <%- include("./partials/header") %>
        <%- include("./partials/flags") %>
            <%- include("./partials/slider") %>

                <main class="main-section">
                    <section class="main-top">
                        <h2 class="main-title">OFERTAS</h2>
                        <div class="offers-products">
                            <% for (let el of prod) { %>
                                <% if (el.offer) { %>
                                    <div class="product">
                                        <div class="product-image">
                                            <a href="/products/detail/<%= el.id %>"><img
                                                    src="/images/products-image/<%= el.image %>" alt="product"></a>
                                        </div>
                                        <div class="product-detail">
                                            <div class="product-name">
                                                <p>
                                                    <%= el.name %>
                                                </p>
                                                <img src="/images/flags/<%= el.country %>" alt="flag">
                                            </div>
                                            <p class="product-desc">
                                                <%= el.description%>
                                            </p>
                                            <p class="product-price">
                                                $<%= el.price %>
                                            </p>
                                        </div>
                                    </div>
                                    <% } } %>
                        </div>
                            <div class="see-more">
                                <a href="#">VER TODO</a>
                            </div>
                    </section>
                    <section class="main-bottom">
                        <h2 class="main-title">ENVIO GRATIS</h2>
                        <div class="popular-products">
                            <% for (let el of prod) { %>
                                <% if (el.shipping) { %>
                                    <div class="product">
                                        <div class="product-image">
                                            <a href="/products/detail/<%= el.id %>"><img
                                                    src="/images/products-image/<%= el.image %>" alt="product"></a>
                                        </div>
                                        <div class="product-detail">
                                            <div class="product-name">
                                                <p>
                                                    <%= el.name%>
                                                </p>
                                                <img src="/images/flags/<%= el.country%>" alt="flag">
                                            </div>
                                            <p>
                                                <%= el.description%>
                                            </p>
                                            <p class="product-price">
                                                $<%= el.price%>
                                            </p>
                                        </div>
                                    </div>
                                    <% } } %>
                        </div>
                            <div class="see-more">
                                <a href="#">VER TODO</a>
                            </div>
                    </section>
                </main>

                <%- include("./partials/footer") %>

</body>

</html>