<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head") %>
        <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <main class="main-area">
        <%- include("./partials/float_logo.ejs") %>
            <div class="big-box">
                <div class="small-box">
                    <form class="formulario" action="/user/login" method="POST">
                        <div class="control">
                            <label for="Usuario"> Usuario </label>
                            <input type="text" id="Usuario" value="<%= (locals?.old) ? old.user : '' %>">
                            <p class="text-danger">
                                <%= (locals?.errors && errors.user != undefined) ? errors.user.msg : (locals?.result && result.user != undefined) ? result.user.msg: '' %>
                            </p>
                        </div>
                        <div class="control">
                            <label for="Contrase単a">Contrase単a</label>
                            <input type="password" id="password">
                            <p class="text-danger">
                                <%= (locals?.errors && errors.password != undefined) ? errors.password.msg : (locals?.result && result.password != undefined) ? result.password.msg : '' %>
                            </p>
                        </div>
                        <div class="control-password">
                            <div class="remember">
                                <input type="checkbox" name="remember">
                                <label>Recuerdame</label>
                            </div>
                            <div class="forgot">
                                <a href="#">多Olvidaste tu contrase単a?</a>
                            </div>
                        </div>
                        <div class="login">
                            <input type="submit" onclick="return enviarFormulario();" value="INICIAR SESION">
                
                        </div>
<div id="error"></div>

                    </form>
                </div>
            </div>
    </main>
    <script src="/js/loginValidator.js"></script>
</body>

</html>