<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head") %>
        <link rel="stylesheet" href="/css/home.css">
        <link rel="stylesheet" href="/css/perfil.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Stick+No+Bills&display=swap" rel="stylesheet">
</head>

<body>

    <%- include("./partials/header") %>
        <%- include("./partials/flags") %>
            <%- include("./partials/slider") %>

                <main class="main-section">


                    <div class="container">
                        <header class="perfil">
                            <img class="perfil-foto" src="https://github.com/renatoMiranda12.png" />
                            <div class="titulo">
                                <h1>Lorem ipsum</h1>
                                <h3></h3>
                        </header>

                        <main class="projetos">
                            <ul>Projetos</ul>
                            <li><a href="https://codepen.io/RenatoMiranda/pen/eYRRqpd">🔢 Calculadora de média </a></li>
                            <li><a href="https://codepen.io/RenatoMiranda/pen/jOwGNJY">💰 Conversor de moedas </a></li>
                            <li><a href="https://codepen.io/RenatoMiranda/pen/NWgwMeV">🌌 Conversor de anos luz</a></li>
                            <li><a href="https://codepen.io/RenatoMiranda/pen/vYZWGyb">💡 Mentalista</a></li>
                            <li><a href="https://codepen.io/RenatoMiranda/pen/WNOMogN">🎥🎬 Aluraflix</a></li>
                            <li><a href="https://codepen.io/RenatoMiranda/pen/KKqBdrw?editors=0011"> 🥇🥈🥉 Tabela de classificação</a></li>
                            <li><a href="https://codepen.io/RenatoMiranda/pen/NWgLPGQ">♠♣♥♦ Super trunfo</a></li>

                        </main>
                        </div>


                </main>

                <%- include("./partials/footer") %>

</body>